.orange
  background-color: #E28133 !important
  border: 0 !important
  border-radius: 0 !important
a:active, a:hover, a:focus
  border: 0 !important
img.img-logo
  width: 200px
  height: auto
.items
  .items-wrapper > div
    height: 400px
    padding: 5px
    &.pizza
      height: 500px
    .content
      -webkit-box-shadow: 0px 10px 53px -9px rgba(128,74,32,1)
      -moz-box-shadow: 0px 10px 53px -9px rgba(128,74,32,1)
      box-shadow: 0px 10px 53px -9px rgba(128,74,32,1)
      height: 100%
      padding: 2px
      position: relative
      .top
        padding-top: 10px
        width: 60px !important
        height: 60px !important
        text-align: center
        background-color: #E28133
        position: absolute
        top: -20px
        left: 0
        border-radius: 50%
        color: white
        border: 1px solid black
        font-weight: bold
        i
          display: block
      .image
        text-align: center
        margin-bottom: 20px
        img
          width: 300px
          height: 200px
          margin: 0 auto
      .title
        width: 100%
        text-align: center
        text-transform: uppercase
        font-weight: bold
        padding-bottom: 2px
        border-bottom: 1px dotted black
      .description
        padding: 5px
        max-height: 100px
        overflow: auto
        text-overflow: ellipsis
        white-space: pre-line
        margin-bottom: 10px
      .price
        width: 100%
        position: absolute
        bottom: 5px
        text-align: center
        .badge
          font-size: 16px
          background-color: #E28133
          &.deleted
            text-decoration: line-through
            background-color: grey
          &.success
            background-color: forestgreen

      .discount
        padding-top: 10px
        width: 60px !important
        height: 60px !important
        text-align: center
        background-color: forestgreen
        position: absolute
        top: -20px
        right: 0
        border-radius: 50%
        color: white
        border: 1px solid black
        font-weight: bold
        i
          display: block

  section
    height: 400px
    width: 100%
    margin-top: 200px
    margin-bottom: 20px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    position: relative
    .content
      width: 100%
      height: 100px
      line-height: 100px
      position: absolute
      top: 50%
      left: 0
      margin-top: -25px
      background-color: rgba(10, 21, 37, 0.67)
      text-align: center
      .content-inner
        margin-top: 30px
        height: 100%
        text-transform: uppercase
        h1
          color: white
    &#sushi
      background-image: asset-url("slide3.jpeg")
    &#rolls
      background-image: asset-url("rolls.jpg")
    &#pizza
      background-image: asset-url("slide2.jpg")
    &#soups
      background-image: asset-url("soups.jpg")
    &#salads
      background-image: asset-url("salads.jpg")
    &#drinks
      background-image: asset-url("drinks.jpg")
    &#shares
      background-image: asset-url("shares.jpg")
    &#pyatnica
      background-image: asset-url("pyatnica_big.jpg")


span.logo
  text-transform: uppercase
  font-size: 30px
  color: white
  font-weight: bold