<!DOCTYPE html>
<html>
<head>
  <title>Pizza & Rolls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div id="map">
    <a class="dg-widget-link" href="http://2gis.kz/ustkam/firm/12807639721353349/center/82.5959873199463,49.968944468326825/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Усть-Каменогорска</a><div class="dg-widget-link"><a href="http://2gis.kz/ustkam/firm/12807639721353349/photos/12807639721353349/center/82.5959873199463,49.968944468326825/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.kz/ustkam/center/82.595996,49.967998/zoom/16/routeTab/rsType/bus/to/82.595996,49.967998╎Burger club?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Burger club</a></div><script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":400,"borderColor":"#a3a3a3","pos":{"lat":49.968944468326825,"lon":82.5959873199463,"zoom":16},"opt":{"city":"ustkam"},"org":[{"id":"12807639721353349"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
</div>
<section class="footer" id="footer">
  <p class="text-center">
    <a href="#header" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
  </p>
  <div class="container">
    <ul>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-vk"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <p>
      &copy; 2015 Сайт создал Егор Топольняк</a>
    </p>
  </div>
</section>
</body>
</html>
